<div class="row form-group">
    <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Прізвище" />
        <span></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="Ім'я" />
        <span></span>
    </div>
</div>
<div class="row form-group">
    <div class="col-sm-12">
        <input type="text" class="form-control" placeholder="По-батькові" />
        <span></span>
    </div>
</div>