<div class="form-login">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Задати питання
                    </div>
                </div>
                <div class="panel-body">
                    <form name="registerForm">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <textarea class="form-control" rows="10" style="max-width: 100%"  placeholder="Ваше питання.." />
                                <span></span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    <button type="submit" class="btn btn-success" ng-animate="">Надіслати</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3">  </div>
    </div>
</div>  